.DS_Store
server/TimTruong.ApiService/bin
server/.vscode/settings.json

etl/venv
etl/.venv
etl/.env*
etl/__pycache__/
*.pyc

etl/data/schools/*/admissions/*/images/
etl/data/schools/**/*.review.md

.claude/settings.local.json
CLAUDE.md
etl/data/schools/QSY-QSY/majors/2026/images/
