{
  "ConnectionStrings": {
    "timtruongdb": "Host=your-db-host; Database=your-db-name; Username=your-db-user; Password=your-db-password; SSL Mode=VerifyFull; Channel Binding=Require;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Aspire.Hosting.Dcp": "Warning"
    }
  }
}
